AllowRoot=0
BufferSend=5
BufferSize=100
DebugLevel=3
EnableRemoteCommands=1
Hostname={{ ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.d
ListenIP=0.0.0.0
ListenPort=10050
LogFile=/var/log/zabbix/zabbix-agentd.log
LogFileSize=1024
LogRemoteCommands=0
MaxLinesPerSecond=100
PidFile=/var/run/zabbix/zabbix_agentd.pid
RefreshActiveChecks=120
Server={{ zabbix_server }}
StartAgents=3
Timeout=3
UnsafeUserParameters=0
User=zabbix
